body {
height:100vh;
padding:0;
margin:0;
display:grid;
align-items:center;
font-family: 'Fira Sans', sans-serif;   
}

.calculator{
    width:60%;
    display:flex;
    flex-direction: column;
        border-radius: 5%;
    margin: 0 auto;
    max-width:650px;
  
}

.screen {
    width:100%;

    display:flex;
    justify-content: flex-end;
    background-color:#5a5c5a;
    color: #fff;

    
    
}

.cal-display {
    margin-right:0.7em;
}

.operator-buttons {
    display:flex;
    justify-content:space-between;
    background-color: #f02b4c;
    padding: 0.7em 0.4em;
}

.operator-button {
    width:15%;
    border:none;
    background-color: #f02b4c;
    color: #fff;
    cursor:pointer;
}

.operator-button:hover {
    opacity: 0.4;
}

.number-buttons {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-color:#5a5c5a;
    
    
}

.number-button {
    background-color: #5a5c5a;
    color: #fff;
    padding: 0.7em 0 ;
    cursor:pointer;
}

.number-button:hover {
    opacity: 0.4;
}

